<a href="https://colab.research.google.com/github/Aman-Kachru/Sugarcane-Production-PowerBI-Dashboard/blob/main/SugerCane.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data Loading

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('/content/List of Countries by Sugarcane Production.csv')

In [ ]:
df.head()

,Unnamed: 0,Country,Continent,Production (Tons),Production per Person (Kg),Acreage (Hectare),Yield (Kg / Hectare)
0,0,Brazil,South America,768678382,"3,668,531",10226205,751675
1,1,India,Asia,348448000,260721,4950000,703935
2,2,China,Asia,123059739,88287,1675215,734591
3,3,Thailand,Asia,87468496,"1,264,303",1336575,654422
4,4,Pakistan,Asia,65450704,324219,1130820,57879

In [ ]:
df.columns

Index(['Unnamed: 0', 'Country', 'Continent', 'Production (Tons)',
       'Production per Person (Kg)', 'Acreage (Hectare)',
       'Yield (Kg / Hectare)'],
      dtype='object')

In [ ]:
df.rename(columns={"Unnamed: 0": "Rank", "Production (Tons)": "Production", "Production per Person (Kg)": "Production per Person", "Acreage (Hectare)": "Acreage", "Yield (Kg / Hectare)": "Yield"}, inplace=True)

In [ ]:
df.head()

,Rank,Country,Continent,Production,Production per Person,Acreage,Yield
0,0,Brazil,South America,768678382,"3,668,531",10226205,751675
1,1,India,Asia,348448000,260721,4950000,703935
2,2,China,Asia,123059739,88287,1675215,734591
3,3,Thailand,Asia,87468496,"1,264,303",1336575,654422
4,4,Pakistan,Asia,65450704,324219,1130820,57879

In [ ]:
df.shape

(101, 7)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Rank                   101 non-null    int64
 1   Country                101 non-null    object
 2   Continent              101 non-null    object
 3   Production             101 non-null    int64
 4   Production per Person  101 non-null    object
 5   Acreage                101 non-null    int64
 6   Yield                  101 non-null    int64
dtypes: int64(4), object(3)
memory usage: 5.6+ KB

## Data Cleaning

In [ ]:
df.dropna(axis=1,inplace=True)

In [ ]:
df['Production per Person'].dtype

dtype('O')

In [ ]:
df['Production per Person'] = df['Production per Person'].str.replace(',', '').astype(np.int64)

In [ ]:
 df['Production per Person']

0      3668531
1       260721
2        88287
3      1264303
4       324219
        ...
96          17
97           8
98          16
99           9
100          6
Name: Production per Person, Length: 101, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Rank                   101 non-null    int64
 1   Country                101 non-null    object
 2   Continent              101 non-null    object
 3   Production             101 non-null    int64
 4   Production per Person  101 non-null    int64
 5   Acreage                101 non-null    int64
 6   Yield                  101 non-null    int64
dtypes: int64(5), object(2)
memory usage: 5.6+ KB

## Exporting Data

In [ ]:
df.to_csv("SugerCane Data.csv")